{% macro certificationsSection(cert_data) %}
<section class="resume-section" id="certifications">
    <div class="resume-section-content">
        <h2 class="mb-5">Certifications</h2>
        <div class="container text-center">
        <div class="row justify-content-md-center">
        {% for certificate in cert_data.certificates_details %}
            <a class="nav-link active card col-sm-12 col-md-3 me-2 mb-1" href="{{ certificate.certificate_url }}" target="new">
                <div class="card-body">
                    <h6 class="badge bg-primary justify-content-end">{{ certificate.issuer+": "+certificate.course_type }}</h6>
                    <h5 class="card-title">{{ certificate.course_title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ certificate.institute_name }}</h6>
                    <ul class="list-group">
                        <li class="list-group-item">Issued at: {{ certificate.issue_date }}</li>
                        {% if certificate.exp_date !="" %}
                            <li class="list-group-item">Expire at: {{ certificate.exp_date }}</li>
                        {% endif %}
                    </ul>
                    {# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> #}
                    {# <a href="#" class="card-link">Card link</a> #}
                    {# <a href="#" class="card-link">Another link</a> #}
                </div>
            </a>
        {% endfor %}
        </div>
        </div>
    </div>
</section>
<hr class="m-0">
{% endmacro %}

