{% macro eduSection(edu_data) %}
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        {% for item in edu_data.institutional_educations %}
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">{{ item.institution_or_board }}</h3>
                            <div class="subheading mb-3">{{ item.degree_name }}</div>
                            <div>{{ item.subject_or_group }}</div>
                            <p>{{ item.result_type+": "+item.point }}</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">{{ item.duration_or_passingyear }}</span></div>
                    </div>
        {% endfor %}
    </div>
</section>
<hr class="m-0">
{% endmacro %}

