{% macro skills_section(skills_data) %}
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="container text-center">
        <div class="row justify-content-md-center">
        {% for skill in skills_data %}
            <h4 class="text-start mb-1">{{ skill.skill_name }}</h4>
            {% for skill_item in skill.list %}
                <div class="card mb-5 mx-1" style="width: 6rem;">
                    <div class="card-body px-0">
                        <img class="card-img-top mb-2" height="50" alt="{{ skill_item.title }}" src="{{ "/assets/skills/" + skill_item.icon_link | url }}">
                        <h6 class="card-title">{{ skill_item.title }}</h6>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        </div>
        </div>
    </div>
</section>
<hr class="m-0">
{% endmacro %}

