// Base Body & Resets
body {
    padding-top: $navbar-base-height;
    color: #4a5568;
    background-color: #f8fafc;
    font-family: $font-family-base;
    scroll-behavior: smooth;
    line-height: 1.6;
}

@include media-breakpoint-up(lg) {
    body {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}

a, button, .nav-link {
    transition: var(--transition-smooth);
}
